.header {
    padding: 15px;
    text-align: right;
    
  }

nav {
    display: inline;
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

.fullImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }


  
h1 {
    text-align: center;
    letter-spacing: 10px;
  }

h2 {
    text-align: center;
    color: #939393;
  }

h3 {
    text-align: center;
  }
  
h4 {
    text-align: center;
  }

p {
    margin: auto;
    letter-spacing: 2px;
    font-family: "Lucida Console", "Courier New";
    width: 60%;
  }  

a {
    text-decoration: none;
    color: black;
  }

  
hr {
    width: 30%;
}


input[type=text], select {
    width: 100%;
    padding: 12px ;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 100%;
    background-color:grey;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    
  }
  
ul {
    background: grey;
    padding: 20px;
    width: 35%;
    text-align: center;
    margin: auto;
    font-family: "Lucida Console", "Courier New";
    color: white;
    list-style-type: none;
  }
  
table {
    font-family: "Lucida Console", "Courier New";
    border-collapse: collapse;
    width: 40%;
    margin: auto;
  }

th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #D2D2D2;
    color: white;
  }

tr {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
  
